@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:black ;
    padding: 0px;
    display: flex;  
}
.left{
    position: absolute;
    font-size: large;
    bottom: 20px;
    left: 80px;
    color: white;
}

.development{
    position: absolute;
    font-size: medium;
    bottom: 5px;
    left: 120px;
    color: green;
}

.cv{
    width: 1000px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.about {
    padding: 10px;
    color: white;
    font-size: 40px;
}
.age{
    color: green;
    padding: 10px;
    font-size: 12px;
}
.para{
    padding: 10px;
    color: grey;
    font-size: 12px;
}
.service{
    padding: 20px;
    color: white;
    font-size: 30px;
}
.tab{
    padding: 10px;
    font-size: x-small;   
}
#dekstop{
    color: white;
}
#rocket{
    color: white;
}
.row1{
    color: grey;
    font-size: 12px;
}
.data{
    color: white;
}
.shield{
    color: white;
}
.main{
    background-color:black ;
    padding: 0px;
    width: 333px;
    height: 0;
    margin: 10px ;
}
.right{
    background-color:#1d1e20 ;
    padding: 0px;
    width: 1000px;
    height: 20;
    margin: 35px auto;
}